<h1>Coachings#answer</h1>


<div class=container>
  <div class="row" align="center"><h2><%=@question%></h2></div>
  <div class="row" align="center"><h2><%=@answer%></h2></div>
  <div class="row" align="center"><a href="ask"><button type="button" class="btn btn-primary">Ask a new question</button></a></div>
</div>
