<h1>Coachings#ask</h1>

<div class="container">
  <div class="row" align="center">
    <form action="/answer" method="get">
    <input type="text" name="question" placeholder="Speak to your coach">
    <div class="row" align="center"><input type="submit" type="button" class="btn btn-primary"></div>
    </form>
  </div>
</div>
